<form action="/request" method="post">
  <label class="label" for="vehicle">Select a vehicle:</label>
  <select id="vehicle" name="vehicleId">
    {{#each vehicles}}
      <option value="{{id}}">{{year}} {{make}} {{model}}</option>
    {{/each}}
  </select>
  <label class="label" for="request">Select a request type:</label>
  <select id="request" name="requestType">
    <option value="info">Vehicle info</option>
    <option value="location">Location</option>
    <option value="odometer">Odometer</option>
    <option value="lock">Lock doors</option>
    <option value="unlock">Unlock doors</option>
  </select>
  <input type="submit" value="Submit"></input>
</form>
